*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  padding-top: 80px;
  height: 200px;
  width:100%;
  background:#333;
  color:#fff;
  text-align: center;
  text-decoration: underline;
  font-size: 1.3em;
  border-bottom:1px solid #fff;
}

nav {
  height: 80px;
  width:100%;
  text-align: center;
  background:#555;
  padding-top:25px;
}
nav a {
  color:#fff;
  padding-top:25px;
  padding:25px;
  font-size: 1.5em;
}
main{
height:500px;
width:100%;
background:#999
}



footer{
  height: 200px;
  width:100%;
  background:#333;
  color:#fff;
  text-align: center;
  border-top: 1px solid #fff;
  font-size: 1.5em;
  padding-top: 80px;

}